*.mp4
node_modules
__pycache__/
.env
config.json
.ipynb_checkpoints
youtue/
04.LangChain Chat with Your Data/docs
LangChain_AIFactory/
project_analysis_notebook.ipynb
04.LangChain Chat with Your Data/temp.pdf
analysis_code.ipynb
LangChain_믹스/
07.Evaluating and Debugging Generative AI/wandb/
07.Evaluating and Debugging Generative AI/artifacts/
05.Building Generative AI Applications with Gradio/flagged/
test/